@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager _Navigation
@inject SignOutSessionStateManager _SignOutManager

<AuthorizeView>
    <Authorized>
        @*<a href="authentication/profile">Hello, @context.User.Identity.Name!</a>*@
        <span>Hello, @context.User.Identity.Name!</span>
        <button class="nav-link btn btn-link" @onclick="BeginSignOut">Log out</button>
    </Authorized>
    <NotAuthorized>
        <a href="authentication/register">Registro</a>
        <a href="authentication/login">Log in</a>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginSignOut(MouseEventArgs args)
    {
        await _SignOutManager.SetSignOutState();
        _Navigation.NavigateTo("authentication/logout");
    }
}
