@if (Peliculas == null)
{
    <img src="https://gifimage.net/wp-content/uploads/2017/08/spinner-gif-13.gif" />
    <text>Cargando.....</text>
}
else if (Peliculas.Count == 0)
{
    <text>No hay registros para mostrar</text>
}
else
{
    <div>
        <h3>Películas with foreach</h3>
        <input  type="checkbox" @bind="MostrarBotones" />
        @foreach (var pelicula in Peliculas)
        {
            <PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones" EliminarPelicula="EliminarPelicula"></PeliculaIndividual>
            
        }
    </div>
   
}

@code{

    [Parameter]
    public List<Pelicula> Peliculas { get; set; }
    public Pelicula Pelicula { get; set; } 
    bool MostrarBotones = true;
   

    void EliminarPelicula(Pelicula pelicula)
    {
        Peliculas.Remove(pelicula);
        Console.WriteLine($"Se ha Eliminado una Película {pelicula.Titulo}");
    }

}

 