@if (Peliculas == null)
{
    <img src="https://gifimage.net/wp-content/uploads/2017/08/spinner-gif-13.gif" />
    <text>Cargando.....</text>
}
else if (Peliculas.Count == 0)
{
    <text>No hay registros para mostrar</text>
}
else
{
    <div>
        <h3>Películas with foreach</h3>
        <input  type="checkbox" @onchange="@(() => MostrarBotones = !MostrarBotones)"/>
        @foreach (var pelicula in Peliculas)
        {
            <PeliculaIndividual Pelicula="pelicula" MostrarBotones="MostrarBotones"></PeliculaIndividual>
        }
    </div>
   
}

@code{

    [Parameter]
    public List<Pelicula> Peliculas { get; set; }
    bool MostrarBotones = false;
}

 