@page "/generos/crear"

<h3>Crear Generos</h3>

<FormularioGenero OnValidSubmit="Crear" Genero="Genero"></FormularioGenero>


@code {

    private Genero Genero = new Genero();

    private void Crear()
    {
        Console.WriteLine("Ejecutando Método Crear.");
        Console.WriteLine($"Nombre del Género: {Genero.Nombre}");
    }

}
