@page "/generos/crear"
@inject NavigationManager navigationManager
@inject IRepositorioPelicula repositorio
@inject IMostrarMensajes  mostrarMensaje

<h3>Crear Generos</h3>

<FormularioGenero OnValidSubmit="Crear" Genero="Genero"></FormularioGenero>


@code {

    private Genero Genero = new Genero();

    private async void Crear()
    {
        var httpResponse = await repositorio.Post("api/Generos", Genero);
        if (httpResponse.Error)
        {
            var body = await httpResponse.GetBody();
            await mostrarMensaje.MostrarMensajesError(body);
        }
        else
        {
            navigationManager.NavigateTo("/generos");
        }
    }

}
