@page "/generos/editar/{GeneroId:int}"
@inject IRepositorioPelicula _repositorio
@inject IMostrarMensajes _mostrarMensasje
@inject NavigationManager _navigationManager

<h3>Editar Géneros</h3>

@if (Genero == null)
{
    <text>Cargando.....</text>
}
else
{
    <FormularioGenero OnValidSubmit="Editar" Genero="Genero"></FormularioGenero>

}


@code {

    [Parameter] public int GeneroId { get; set; }
    private Genero Genero;

    protected async override Task OnInitializedAsync()
    {

        var httpResponse = await _repositorio.Get<Genero>($"api/generos/{GeneroId}");

        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                _navigationManager.NavigateTo("generos");
            }
            else
            {
                await _mostrarMensasje.MostrarMensajesError(await httpResponse.GetBody());
            }
        }
        else
        {
            Genero = httpResponse.Response;
        }


    }

    private async Task Editar()
    {
        var httpResponse = await _repositorio.Put("api/generos", Genero);
        if (httpResponse.Error)
        {
            await _mostrarMensasje.MostrarMensajesError(await httpResponse.GetBody());
        }
        else
        {
            _navigationManager.NavigateTo("generos");
        }
    }

}
