@page "/generos"
@inject IRepositorioPelicula _repositorio
@inject IMostrarMensajes _mostrarMensajes
@attribute [Authorize(Roles = "Admin")]


<h3>Indice Géneros</h3>
<hr />
<div class="form-group">
    <a href="generos/crear" class="btn btn-info">Agregar Género.</a>
</div>

<ListadoGenerico Listado="Generos">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombres</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Generos)
                {
                    <tr>
                        <td>
                            <a href="/generos/editar/@item.Id" class="btn btn-success">Editar</a>
                            <a class="btn btn-danger" @onclick="@(() => BorrarGenero(item))">Borrar</a>
                        </td>
                        <td>@item.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@code {

    public List<Genero> Generos { get; set; }

    protected async override Task OnInitializedAsync()
    {

        await Cargar();
    }

    private async Task Cargar()
    {
        var responseHTTP = await _repositorio.Get<List<Genero>>("api/Generos");

        Generos = responseHTTP.Response;
    }


    private async Task BorrarGenero(Genero genero)
    {
        var responseHTTP = await _repositorio.Delete($"api/generos/{genero.Id}");

        if (responseHTTP.Error)
        {
            await _mostrarMensajes.MostrarMensajesError(await responseHTTP.GetBody());
        }
        else
        {
            await Cargar();
        }
    }
}
