@page "/generos"
@inject IRepositorioPelicula repositorio

<h3>Indice Géneros</h3>
<hr />
<div class="form-group">
    <a href="generos/crear" class="btn btn-info">Agregar Género.</a>
</div>

<ListadoGenerico Listado="Generos">
    <HayRegistrosCompleto>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombres</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Generos)
                {
                    <tr>
                        <td>
                            <a href="/generos/editar/@item.Id" class="btn btn-success">Editar</a>
                            <a class="btn btn-danger">Borrar</a>
                        </td>
                        <td>@item.Nombre</td>
                    </tr>
                }
            </tbody>
        </table>
    </HayRegistrosCompleto>
</ListadoGenerico>

@code {

    public List<Genero> Generos { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var responseHTTP = await repositorio.Get<List<Genero>>("api/Generos");

        Generos = responseHTTP.Response;

    }
}
