@page "/peliculas/crear"
@inject NavigationManager navigationManager
@inject IRepositorioPelicula IRepositorioPelicula
@inject IMostrarMensajes IMostrarMensajes

<h3>Crear Película</h3>
<hr />
<FormularioPeliculas Pelicula="Pelicula" OnValidSubmit="Crear" GenerosNoSeleccionados="GenerosNoSeleccionados" 
                     GenerosSeleccionados="GenerosSeleccionados"></FormularioPeliculas>

@code {

    private Pelicula Pelicula = new Pelicula();
    private List<Genero> GenerosNoSeleccionados = new List<Genero>();
    private List<Genero> GenerosSeleccionados = new List<Genero>();

    protected override void OnInitialized()
    {
        GenerosNoSeleccionados = new List<Genero>
{
           new Genero{ Id = 1, Nombre = "Comedia" },
           new Genero{ Id = 2, Nombre = "Drama" },
           new Genero{ Id = 3, Nombre = "Acción" },
           new Genero{ Id = 4, Nombre = "Sci-fi" },
        };

        base.OnInitialized();
    }

    async Task Crear()
    {
        var httpResponse = await IRepositorioPelicula.Post<Pelicula, int>("api/Peliculas", Pelicula);
        if (httpResponse.Error)
        {
            await IMostrarMensajes.MostrarMensajesError(await httpResponse.GetBody());
        }
        else
        {
            var peliculaId = httpResponse.Response;
            navigationManager.NavigateTo($"/pelicula/{peliculaId}/{Pelicula.Titulo.Replace(" ", "-")}");
        }
    }

}
