@page "/personas/editar/{PersonaId:int}"
@inject IMostrarMensajes _mostrarMensasje
@inject NavigationManager _navigationManager
@inject IRepositorioPelicula _repositorio


<h3>Editar Persona</h3>
<hr />
@if (Persona == null)
{
    <text>Cargando.....</text>
}
else
{

    <FormularioPersonas Persona="Persona" OnValidSubmit="Editar"></FormularioPersonas>
}

@code {

    [Parameter] public int PersonaId { get; set; }

    Persona Persona;

    protected async override Task OnInitializedAsync()
    {

        var httpResponse = await _repositorio.Get<Persona>($"api/personas/{PersonaId}");

        if (httpResponse.Error)
        {
            if (httpResponse.HttpResponseMessage.StatusCode == System.Net.HttpStatusCode.NotFound)
            {
                _navigationManager.NavigateTo("personas");
            }
            else
            {
                await _mostrarMensasje.MostrarMensajesError(await httpResponse.GetBody());
            }
        }
        else
        {
            Persona = httpResponse.Response;
            Console.WriteLine(Persona.Foto);
        }


    }

    private async Task Editar()
    {
        var httpResponse = await _repositorio.Put("api/personas", Persona);
        if (httpResponse.Error)
        {
            await _mostrarMensasje.MostrarMensajesError(await httpResponse.GetBody());
        }
        else
        {
            _navigationManager.NavigateTo("personas");
        }
    }
}
