@page "/counter"






<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="IncrementoCountJavascript">Click me Form Javascript.</button>


