@page "/"
@inject IRepositorioPelicula  repositorio


<div>
   <h3>Películas</h3>
   <hr />
    
        <ListadoPeliculas Peliculas="Peliculas"></ListadoPeliculas>
   
</div>




@code
{

    public List<Pelicula> Peliculas { get; set; }


    protected override void OnInitialized()
    {


        Peliculas = repositorio.ObtenerPelicula();
    }



}
