@page "/"

<div>
    <h3>Películas from Component</h3>
    <hr />
    <ListadoPeliculas Peliculas="ObtenerPeliculas()"></ListadoPeliculas>
</div>


@code
{

    private List<Pelicula> ObtenerPeliculas()
    {
        return new List<Pelicula>
        {
             new Pelicula { Titulo = "Spider-Man Far From Home", Lanzamiento = new DateTime(2020,5,5) },
             new Pelicula { Titulo = "Maona", Lanzamiento = new DateTime(2019,12,12) },
             new Pelicula { Titulo = "Inception" ,Lanzamiento = new DateTime(2020,11,11) },
        };
    }

}
