@page "/"
@inject ServiciosSingleton ServiciosSingleton
@inject ServiciosTransient ServiciosTransient

<p>Singleton count: @ServiciosSingleton.Valor</p>

<div>
    <h3>Cargando</h3>
    <hr />
    <ListadoPeliculas Peliculas="Peliculas"></ListadoPeliculas>

    <br />
    <button class="btn btn-info" @onclick="AgregarPelicula">Aggregar Películas.</button>

</div>

<hr />
<div>
    <h2>Crear nueva Película</h2>
    @*<EjemploTexBox placeholder="Nombre Película" disabled="true"></EjemploTexBox>*@
    @*<EjemploTexBox @attributes="@(new Dictionary<string, object> { { "placeholder", "Nuevo placeholder" },
         { "disabled","true" }
        })"></EjemploTexBox>*@
    <EjemploTexBox placeholder="pleceholder index"></EjemploTexBox>
</div>


@code
{

    public List<Pelicula> Peliculas { get; set; }


    private Dictionary<string, object> EjemploTexboxParameters = new Dictionary<string, object>()
{
        { "placeholder", "Nombre Pelicula" },
        {"disabled","true" }
    };

    protected override void OnInitialized()
    {
        Peliculas = new List<Pelicula>
    {
             new Pelicula { Titulo = "Spider-Man Far From Home", Lanzamiento = new DateTime(2020,5,5) },
             new Pelicula { Titulo = "Maona", Lanzamiento = new DateTime(2019,12,12) },
             new Pelicula { Titulo = "Inception" ,Lanzamiento = new DateTime(2020,11,11) },
        };
    }

    void AgregarPelicula()
    {
        Peliculas.Add(new Pelicula { Titulo = "Todo por Emilio", Lanzamiento = DateTime.Today });
    }

    //private List<Pelicula> ObtenerPeliculas()
    //{

    //    return new List<Pelicula>
    //    {
    //         new Pelicula { Titulo = "Spider-Man Far From Home", Lanzamiento = new DateTime(2020,5,5) },
    //         new Pelicula { Titulo = "Maona", Lanzamiento = new DateTime(2019,12,12) },
    //         new Pelicula { Titulo = "Inception" ,Lanzamiento = new DateTime(2020,11,11) },
    //    };
    //}

}
