@page "/"

<div>
    <h3>Películas from Component</h3>
    <ListadoPeliculas></ListadoPeliculas>
</div>

<hr />
<div>
    <h3>Película</h3>
    <p>Título: <b>@SpiderMan.Titulo</b></p>
    <p>Lanzamiento: <b>@SpiderMan.Lanzamiento.ToString("dd MM yyyy")</b></p>
</div>
<hr />


@code{
   
    private Pelicula SpiderMan => ObtenerPelicula();

    private Pelicula ObtenerPelicula() => new Pelicula
    {
        Titulo = "Spider - Man: Far From Home",
        Lanzamiento = new DateTime(2020, 5, 5)
    };

    private void ManejarClick()
    {
        Console.WriteLine("Me han clickeado (desde método)");
    }

}
